<div class="login-bg"></div>
<div class="container login-wrapper">
  <div class="row">
    <div class="col col-sm-12 col-md-3 col-lg-4"></div>
    <div class="col col-sm-12 col-md-6 col-lg-4 login-form">
      <div class="panel-lg animated" ng-class="{'shake' : error}">
        <form name="form" ng-submit="login()"> 
          <h2 class="form-title">Banana Tree</h2>
          <p><i>Sign in with your Banana Tree account</i></p>
          <div class="form-input" ng-class="{'active' : email.length > 0}">
            <input name="email" type="email" placeholder="Enter your email" ng-model="email" required/>
            <div class="text-small text-error" ng-messages="form.email.$error" ng-if="form.email.$touched"> 
              <div ng-message="required">This field is required</div>
              <div ng-message="email">This is not a valid email format</div>
            </div>
          </div>
          <div class="form-input" ng-class="{'active' : password.length > 0}">
            <input name="password" type="password" placeholder="Enter your password" ng-model="password" required/>
              <div class="text-small text-error" ng-messages="form.password.$error" ng-if="form.password.$touched"> 
                <div ng-message="required">This field is required</div>
              </div>
          </div>
          <div class="form-submit">
            <button class="button-primary login-button" type="submit" ng-disabled="!form.$valid">Log In</button>
          </div>
        </form>
        <p class="child-center">or</p>
        <a href="/register" class="strong">Create account</a>
      </div>
    </div>
  </div>
</div>
