/* ------------------------------
Navbar
------------------------------ */

/* ------ Base ------ */

.navbar {
  position: relative;
  height: 50px;
  top: 0;
  background-color: $color-bg-header;
  @include clearfix;
  @include tablet-and-up {height: 80px;}
  @include transition-properties(all, 0.5s, ease-in-out);

  &.admin-mode {
    @include transition-properties(background-color, 0.2s, ease-in-out);
  }
  .container {
    padding: 0;
    @include laptop-and-up {padding: 0 $spacing-medium;};
  }
  a {text-decoration: none !important;}
  &.hidden{
    top: -150px;
  }
}

/* ------ Logo ------ */

.navbar-logo {
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 4;
  width: 150px;
  height: 50px;
  padding: $spacing-medium $spacing-small;
  background-color: $white;
  /*box-shadow: $box-shadow;*/
  &:hover {
    /*background-color: $gray-10;*/
    text-decoration: none;
    cursor: pointer;
  }
  @include tablet-and-up {
    width: 204px;
    height: 80px;
  }
  @include laptop-and-up {
    left: $spacing-medium;
  };
}

.navbar-logo-inner {
  color: $gray-50;
  font-family: $font-family-secondary;
  font-size: $font-size-medium;
  font-weight: bold;
  line-height: 1.2;
  @extend .center-all;
  @include tablet-and-up {font-size: $font-size-large;}
}

/* ------ Mobile ------ */

.navbar-mobile {position: relative;}

.navbar-hamburger {
  position: relative;
  z-index: 3;
  height: 50px;
  background-color: $color-bg-header;
  @include tablet-and-up {height: 80px;};
}

.navbar-hamburger-trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing-small + $spacing-x-small;
  .bar {
    @include transition-properties(0.3s, ease-in-out, all);
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    margin-top: $spacing-x-small;
    background-color: $white;
    &.top {margin-top: $spacing-x-small - 2;}
  }
  &.active {
    .bar {
      &.top{
        top: $spacing-small - 3;
        transform: rotate(45deg);
      }
      &.mid {
        left: $spacing-small + $spacing-x-small;
        width: 0;
      }
      &.bottom {
        top: ($spacing-small - 3) * -1;
        transform: rotate(-45deg);
      }
    }
  }
  @include tablet-and-up {
    margin-top: $spacing-small;
    padding: ($spacing-small + $spacing-x-small) 3%;
    .bar {
      width: 35px;
      height: 2px;
      margin-top: $spacing-small - 3;
    }
    &.active {.bar.top {top: $spacing-small + 1;}}
  };
}

.navbar-dropdown {
  @include transition-properties(0.5s, ease-in-out, all);
  position: relative;
  top: -350px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 300px;
  padding-top: $spacing-x-large;
  background-color: $color-bg-header;
  box-shadow: $box-shadow;
  &.active {top: -1px;}

  li{
    margin-left: $spacing-medium;
    margin-right: $spacing-large;
    border-bottom: $border-thin solid $color-border;
    font-size: $font-size-body;
    line-height: 50px;
    text-align: left;
    a {
      display: block;
      color: $color-primary;
      &.active{color: $white;}
    }
  }

  @include tablet-and-up {
    top: -400px;
    height: 320px;
    padding-top: $spacing-x-large + $spacing-medium;
  };
}

.navbar-dropdown-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: ($spacing-small + 2) $spacing-large;
  text-align: right;
}

/* ------ Laptop ------ */

.navbar-laptop {
  li {
    float: left;
    color: $gray-30;
    font-size: $font-size-default;
    font-weight: bold;
    text-align: center;
    a {
      display: block;
      color: $white !important;
      &:hover, &:focus {text-decoration: none;}
    }
  }
}

.navbar-menu {
  position: absolute;
  overflow: hidden;
  height: 80px;
  margin-left: 190px;
  @include clearfix;
  ul{
    &.user-menu {
      @extend .FadeInDownFast;
      @extend .FadeOutUpFast;
    }
    &.admin-menu {
      @extend .FadeOutDownFast;
      @extend .FadeInUpFast;
    }
    li {
      > a {
        min-width: 100px;
        padding: ($spacing-large + 2) $spacing-small;
        line-height: 1;
        &:hover  {background-color: rgba(0,0,0,0.4);}
        &.active {background-color: rgba(0,0,0,0.4);}
      }
      i {margin-right: $spacing-x-small;}
    }
  }
}

.navbar-profile {
  position: relative;
  float: right;
  padding-top: $spacing-medium;
  li + li {margin-left: $spacing-medium;}
  .admin-link {
    background-color: transparent;
    border: solid 2px rgba($white, 0.7);
    border-radius: 20px;
    color: $white !important;
    &.active{
      border: solid 2px $white;
      background-color: $color-primary;
      color: $white;
    }
  }
}

.navbar-profile-name {
  margin-top: $spacing-small - 1;
}

.navbar-button-logout {
  button {
    margin-top: $spacing-x-small + 2;
    margin-bottom: 0;
    background-color: $gray-10;
    color: $gray-40 !important;
    font-weight: normal;
  }
}
