.taggable{
  position: relative;
  display: inline-block;
  height:400px;
  background-color: gray; 
  width: auto;
  img{
    height: 100%;
    width: auto;
    @extend .not-selectable;
  }
  .bounding-box{
    border: solid 2px red;
    position: absolute;
    &:hover{
      .handle{
        opacity: 1;
      }
    }
    .handle{
      position: absolute;
      opacity: 0;
      background-color: rgba(255,255,255, 0.8);
      text-align: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      @include transition-properties(opacity, 0.2s, linear);
      @extend .not-selectable;
      &.drag{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: move;
      }
      &.remove{
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      &.resize{
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%) rotate(90deg);
        cursor: nw-resize;
      }
      &.tag{
        top: 0;
        right: -25px;
        cursor: pointer;
      }
    }
  }
}
