<div class="taggable" 
  ng-mousedown="mouseDownInsideImage($event)"
  ng-mouseup="mouseUpInsideImage($event)"
  ng-mousemove="moveInsideImage($event)">
  <img src="{{ taggable_image.img_url }}" alt="">
  <div class="bounding-box"  
    ng-style="getBoxStyle(box)"
    ng-repeat="box in taggable_image.bounding_boxes">
    <div class="drag handle" ng-mousedown="activateMove($index)"><i class="fa fa-arrows"></i></div>
    <div class="remove handle" ng-mousedown="pauseCreation()" ng-click="removeBox($index)"><i class="fa fa-times"></i></div>
    <div class="resize handle" ng-mousedown="activateResize($index)"><i class="fa fa-expand"></i></div>
  </div>
</div>
